include changes
include copyright
include COPYING.*
include doc/user_manual.odt
include doc/user_manual.pdf
include doc/license.odt
include doc/listview.png
include doc/treeview.png
include examples/*.*
include images/*.*
exclude images/author_mail.png
exclude images/new*.png
